# Env
.env
.env.*
!.env.example
!.env*.example

server/.env
server/.env.*
!server/.env.example

# Local editor
.vscode

# Dependencies
node_modules
server/node_modules


# Builds
dist
server/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Packages
*.zip
*.tar.gz